@model PostsModel
@using League_of_Devs.Controllers;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>League of Devs</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/post.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet" />

    <script src="https://cdn.tiny.cloud/1/s1zuonvvfcyl7vbylg8gq4qp36vgs3i7zo5uulplov1d9kzk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <form><a class="navbar-brand" asp-action="Index" asp-controller="Home">League of Devs</a></form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content:end;">
                    <form>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                            @{
                                if(loginController.User == null)
                                {
                                    <li class="nav-item"><a class="nav-link" asp-action="Login" asp-controller="Login">Sign in</a></li>
                                }
                                else
                                {
                                    <li class="nav-item"><a class="nav-link" asp-action="Logout" asp-controller="Login">Logout</a></li>
                                }
                            }
                            <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home">Projects</a></li>
                        </ul>
                   </form>
                </div>
        </div>
    </nav>
    <div style="height:50px"> </div>
    <div class="form-container">
        @{
            if (ViewBag.post != null)
            {
                <form asp-action="add" method="post" asp-controller="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-label" asp-for="Title">Project Title:</label>
                        <input class="form-input" type="text" value="@ViewBag.post.Title" id="project-title" asp-for="Title" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Summary">Summary:</label>
                        <input class="form-input" id="summary" value="@ViewBag.post.Summary" asp-for="Summary" required></input>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="ThumbImage">Thumbnail Image:</label>
                        <input class="form-input" type="file" id="thumbnail" value="@ViewBag.post.thumbimage" asp-for="ThumbImage" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Content">Content:</label>
                        <input class="form-input" id="content" value="@ViewBag.post.Content" asp-for="Content" required></input>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Image">Upload Images:</label>
                        <input class="form-input" type="file" id="images" value="@ViewBag.post.image" asp-for="Image" accept="image/*" multiple>
                    </div>
                    <p></p>
                    <button type="submit" name="type">Edit</button>
                </form>
            }
            else
            {
                <form asp-action="add" method="post" asp-controller="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-label" asp-for="Title">Project Title:</label>
                        <input class="form-input" type="text" id="project-title" asp-for="Title" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Summary">Summary:</label>
                        <textarea class="form-input" id="summary" asp-for="Summary" required></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="ThumbImage">Thumbnail Image:</label>
                        <input class="form-input" type="file" id="thumbnail" asp-for="ThumbImage" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Content">Content:</label>
                        <textarea class="form-input" id="content" asp-for="Content" required></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Image">Upload Images:</label>
                        <input class="form-input" type="file" id="images" asp-for="Image" accept="image/*" multiple>
                    </div>
                    <p></p>
                    <button type="submit" name="type">Add</button>
                </form>
            }
        }
    </div>
            
    <!-- Page header with logo and tagline-->
    @*         <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
    <div class="text-center my-5">
    <h1 class="fw-bolder">Welcome to League of Devs!</h1>
    <p class="lead mb-0">Your window to the developed future </p>
    </div>
    </div>
    </header> *@
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- post content here -->

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">

            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; League of Devs 2024</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>
</html>
