@using League_of_Devs.Controllers;
@using League_of_Devs.DateBase;
@model PostsModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>League of Devs</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <style>
.blue-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}
</style>

    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <form><a class="navbar-brand" asp-action="Index" asp-controller="Home">League of Devs</a></form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content:end;">
                    <form>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                            @{
                                if(loginController.User == null)
                                {
                                    <li class="nav-item"><a class="nav-link" asp-action="Login" asp-controller="Login">Sign in</a></li>
                                }
                                else
                                {
                                    <li class="nav-item"><a class="nav-link" asp-action="Logout" asp-controller="Login">Logout</a></li>
                                }
                            }
                            <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home">Projects</a></li>
                        </ul>
                   </form>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    @{
                        foreach(PostsModel post in ViewBag.posts)
                        {
                            <div class="card mb-4">
                            <a href="#!"><img class="card-img-top" src="../@post.thumbimage" alt="..." /></a>
                                <div class="card-body">
                                <div class="small text-muted">January 1, 2023</div>
                                @{
                                    AccountsModel user;
                                    using Data data = new Data();
                                    user = data.accounts.Where(x => x.Id == post.AccountId).First(); 
                                }
                                <div class="small text">Author: <a name="@user.Id" href="#">@user.Name</a></div>
                                <h2 class="card-title h4">@post.Title</h2>
                                <p class="card-text">@post.Summary</p>
                                <a class="btn btn-primary" href="../post/post?page=@post.Id" >Read more →</a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                            <form asp-action="Index" asp-controller="Home" method="post"> 
                            <input class="form-control" asp-for="Title" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                            </form>   
                                
                                @{
                                    if (ViewBag.name != null && ViewBag.name.Count > 0)
                                    {
                                        <select>
                                            @foreach (AccountsModel result in ViewBag.name)
                                            {
                                                <option>@result.Name</option>
                                            }
                                    </select>
                                }
                                }
                            </div>

                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">
                            <h4>@ViewBag.user.Name</h4>
                            <p>@ViewBag.user.Bio</p>
                            <span><b>Experience:</b> @ViewBag.user.Experience</span>
                            <br>
                            <span><b>Availability: </b>@ViewBag.user.Availability</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark" id="about">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; League of Devs 2024</p></div>
        </footer>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
    </body>
</html>
